<div class="col-md-4">
  <h2>Dettagli:</h2>
  <div class="card text-white bg-secondary mb-3" style="width: 20rem">
    <img class="card-img-top" [src]="panino.immagine" alt="Card image cap" />
    <div class="card-body">
      <h5 class="card-title">ID: {{ panino.id }}</h5>
      <h5 class="card-title">Nome: {{ panino.nome }}</h5>
      <h5 class="card-title">Prezzo: {{ panino.prezzo | currency:"EUR" }}</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a class="btn btn-warning" >Edit</a>
    </div>
  </div>
</div>
