<div class="mb-3">
  <label for="" class="form-label">Nome</label>
  <input type="text"
    class="form-control" [(ngModel)]="nomeDocente">
</div>
<div class="mb-3">
  <label for="" class="form-label">Corso</label>
  <input type="text"
    class="form-control" [(ngModel)]="corsoDocente">
</div>

<div class="mb-3">
  <label for="" class="form-label">Tipo</label>
  <input type="text"
    class="form-control" [(ngModel)]="tipoDocente">
</div>

<div class="mb-3">
  <button class="btn btn-primary" (click)="onEditDocente()" >Modifica Docente</button>
</div>
