.Angular{
  background-color: rgba(255, 166, 0, 0.762);
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  a{
    text-decoration: none;
  }
}


.vue{
  background-color: rgba(0, 212, 74, 0.762);
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  a{
    text-decoration: none;
  }
}

.React{
  background-color: rgba(0, 180, 212, 0.762);
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  a{
    text-decoration: none;
  }
}


.AngularI{
  fill: rgb(226, 43, 43);

}

.ReactI{
  fill: rgb(8, 0, 236);

}

.vueI{
  fill: rgb(0, 255, 42);

}
